<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="{SQLServer}" 
			 connectionString="Data Source={DESKTOP-G389DPC\SQLEXPRESS}; 
			 Initial Catalog={Cod3rsGrowthdb};User ID=sa;Password=sap@123" 
			 providerName="System.Data.Client"/>
	</connectionStrings>
</configuration>